@font-face {
  font-family: 'Satoshi';
  src: url('https://fonts.cdnfonts.com/s/16250/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('https://fonts.cdnfonts.com/s/16250/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
